doctype html
html
	head
		title #{title}
		meta(name="viewport" content="width=device-width, user-scalable=no")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/bundle.js')
	body
